<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<groups>
     <run>
          
         <exclude name="smoke"></exclude>     
         <include name="regression"></include>
         
     </run>
</groups>


  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNgPraApril.TestNgPraApril.AppTest2"/>
      <class name="TestNgPraApril.TestNgPraApril.AppTest3"/>
      <class name="TestNgPraApril.TestNgPraApril.AppTest4"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

